<html>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '../static/styles.scss' %}">
    <body>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                  <div class="sidebar-sticky" id="navbarNavAltMarkup">
                      <ul class="nav flex-column">
                          <li>
                              <a class="nav-item nav-link" href="{% url 'index'%}">Home</a>
                          </li>
                          <li>
                              <a class="nav-item nav-link" href="{% url 'logout'%}">Logout</a>
                          </li>
                      </ul>
                  </div>
                </nav>
                <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                </main>
            </div>
        </div>
    </body>
</html>