<html>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <body>
        <div class="container-fluid">
            <div class="row">
                {% include 'index.html' %}
                <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                {% if not is_clinician %}
                    <div class="card" style="width: auto;">
                            <div class="card-body">
                            <h5 class="card-title">New Measurement</h5>
                            <form method="POST" action="create_measurement">
                                {% csrf_token %}
                                <div class="col-md-4 input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Heart Rate</span>
                                    </div>
                                    <input type="text" class="form-control" id="heart_rate" name="heart_rate" placeholder="0" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text">BPM</span>
                                    </div>
                                </div>
                                <div class="col-md-4 input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Blood Pressure</span>
                                    </div>
                                    <input type="text" class="form-control" id="blood_pressure" name="blood_pressure" placeholder="0.00" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text">mmHg</span>
                                    </div>
                                </div>
                                <div class="col-md-4 input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Weight</span>
                                    </div>
                                    <input type="text" class="form-control" id="weight" name="weight" placeholder="0.00" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text">Kg</span>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <input class="form-control btn btn-primary bg-dark col-2" type="submit" value="Create"/>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}

                    <div class="card" style="width: auto;">
                        <div class="card-body">
                            <h5 class="card-title">Measurements</h5>
                            <table class="table">
                                <thead>
                                    <tr>
                                        {% if is_clinician %}
                                        <th>Patient</th>
                                        {% endif %}
                                        <th>Date</th>
                                        <th>Heart Rate (BPM)</th>
                                        <th>Blood Pressure (mmHg)</th>
                                        <th>Weight (KG)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for measurement in measurement_ids %}
                                        <tr>

                                            {% if is_clinician %}
                                            <td>{{ measurement.patient_id }}</td>
                                            {% endif %}
                                            <td>{{ measurement.date|date:'Y-m-d H:i' }}</td>
                                            <td>{{ measurement.heart_rate }}</td>
                                            <td>{{ measurement.blood_pressure }}</td>
                                            <td>{{ measurement.weight }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
